// 页面组件过渡
.page-enter-active,
.page-leave-active {
  transition: opacity .3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
// 页面内容最大定宽
.myContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.mainContent {
  @media screen and (max-width: 750px) {
    margin: 0 auto;
  };
  min-height: calc(100vh - 80px - 126px);
  width: 600px;
  padding: 0 10px;
}
.ant-pagination {
  margin-top: 50px;
  text-align: center;
}
.myColumns {
  @media screen and (max-width: 750px) {
    margin: 0;
  }
  align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}

// 模块的标题栏
.myTitle {
  border-bottom: 1px solid #cecece;
  padding: 10px 15px;
}
// 卡片的通用样式
.myCard {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.ant-skeleton-content {
  padding: 0 10px 10px;
}

th,
tr,
td {
  border: 1px solid #e6e6e6;
  padding: 5px 8px;
  word-break: normal;
}
