.myContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}

// 模块的标题栏
.myTitle {
  border-bottom: 1px solid #cecece;
  padding: 10px 15px;
}
// 模块的盒子
.myModuleBox {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}