body {
    padding-right: 0 !important;
    color: #333;
    font-size: 14px;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}
* {
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ul,
ol {
    list-style: none;
    margin: 0;
    overflow: hidden;
}
p {
    margin: 0;
}
img {
    max-width: 100%;
    border: none;
}

a {
    text-decoration: none;
}

input,
textarea {
    outline: none;
    border: none;
    /*清除移动端默认的表单样式*/
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    resize: none;
}

.clearfix::before,
.clearfix::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
    line-height: 0;
}
code {
    font-family: Menlo,
    Monaco,
    Consolas,
    Courier New,
    monospace !important;
}
pre {
    border-radius: 5px;
    background-color: #282c34;
    padding: 1em;
    color: #abb2bf;
    font-weight: 400;
    white-space: pre-wrap;
    margin: 10px 0;
}
p > code {
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 4px;
    padding: 1px 4px;
    margin: 0 5px;
}